@font-face {
  font-family: farisea;
  src: url(farisea-dark.ttf);
}

* {
  background-color: #FBB969;
  color: #434343;
  font-family: Courier;
  font-size: 2.5em;
  padding: 10px;
}

.sectionTitle {
  font: 2em/1.5em farisea !important;
  font-weight: 100;
  line-height: 1.5em;
}

strong {
  font-size: 1em;
}

form * {
  font-size: 0.75em;
}

label {
  font-size: 0.5em;
  font-weight: 700;
}

button {
  font-weight: 700;
  margin: 5px;
  padding: 10px 0;
}

br {
  line-height: 0.5em;
}

em, span, p {
  font-size: 1em;
  padding: 5px;
  margin: 5px;
}

ul {
  font-size: 1em;
  -webkit-padding-start: 0;
  margin: 0;
  list-style-type: none;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

li{
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  padding-left: -30px !important;
}

#serverCountMsg {
  font-size: 0.5em;
  font-weight: 900;
  color: red;
  line-height: 1em;
}

.w3-button {
  border-radius: 10px;
}

.w3-button:hover{
  background-color: green !important;
}
