/**
**	BODY / BLOCK ELEMENTS 
**/

body {
	margin: 0;
	padding-bottom: 3rem;
	font-size: 1.2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
	background-color: #2e015b;
	color: #fff;
	/*margin: 0px;*/
	padding: 10px;
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
}

.sectionDiv {
	padding: 20px 10px;
}

section.w3-row {
	padding: 5px 0;
	margin: 5px;
}


/**
**	INPUT ELEMENTS
**/

input {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 3em;
	width: 100%;
	padding: 10px;
	margin: 10px;
}

input[type="text"] {
	border: 1px solid black;
}

/**
**	OTHER ELEMENTS
**/


table {
	max-width: 99%;
	min-width: 99%;
	width: 99%;
	margin: 5px;
}


/**
**	CLASSES
**/

.secretWord {
	background-color: black;
	color: black;
}

.secretWord:hover {
	background-color: white;
}

/**
**	IDS
**/


#wordDisplaySpan {
	font-weight: bolder;
	padding: 10px;
	margin: 15px;
	border: 1px solid white;
	border-radius: 5%;
}

#categoryDisplaySpan {
	font-weight: bolder;
	padding: 10px;
	font-size: 2.5em;
	font-family: 'Bradley Hand', Bradley Hand, 'Brush Script MT', Brush Script MT, cursive;
}

#categorySection {
	border: 1px solid red;
	border-radius: 5px;
}

#hiddenSection {
	background-color: #c11b0d;
	color: white;
	font-size: 3em;
	font-weight: 900;
}


#guessCountHeader{
	text-align: center;
}

#guessesTable{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

#guessesTable tr, th, td{
	border: 1px solid black;
}

#guessesTablet td {
	font-size: 3em !important;
}

thead tr th:first-child,
tbody tr td:first-child,
thead tr th:last-child,
tbody tr td:last-child
{
	width: 5%;
	min-width: 5%;
	max-width: 5%;
}

input:invalid {
	background-color: ivory;
	border: none;
	outline: 2px solid red;
	border-radius: 5px;
}

input:hover{
	filter: brightness(75%);
}