button#submitClueButton {
	font-size: 1.2em;
	margin: 5px 20px 20% 20%;
	padding: 20px;
	width: 60%;
	background-color: var(--main-highlight-color);
	color: var(--dark-fg-color);
}

input#clueInput {
	font-size: 2em;
	width: 100%;
}
