h2#NameInputHeader{
	margin: 3px;
	padding: 3px;
	font-weight: 400;
	text-decoration: underline;
}

button#changeNameButton{
	font-size: 1.2em;
	margin: 5px 20px 20% 20%;
	padding: 20px;
	width: 60%;
	background-color: var(--main-highlight-color);
	color: var(--dark-fg-color);
}

form {
	margin: 3px;
	padding: 3px;
}

input#playerNameInput {
	font-size: 2em;
	width: 90%;
}

section#NameInputSection {
	border: 1px solid white;
}