h2#NameInputHeader{
	margin: 3px;
	padding: 3px;
	font-weight: 400;
	text-decoration: underline;
}

button#changeNameButton{
	margin: 10px 10%;
	width: 80%;
	background-color: var(--main-highlight-color);
	color: var(--dark-fg-color);
}

form {
	margin: 3px;
	padding: 3px;
}

input {
	font-size: 3em;
	width: 90%;
}

section#NameInputSection {
	border: 1px solid white;
}