
div.roundCluesDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div:last-of-type(.newClue) {
	animation-name: flyInLeft;
	animation-duration: 1s;
}
.newClue {
	
	position: relative;
	padding: 10px;
	margin-right: 5px;
	font-size: 1.5rem;

	border: 3px solid red;
	border-radius: 10px;
	width: auto;

	background-image: radial-gradient(rgb(248, 91, 91) 10%, transparent 2%);
	background-color: white;
	background-position: 0 0, 1px 1px;
	background-size: 10px 10px;
	background-color: white;
	
	color: red;
}

@keyframes flyInLeft {
	0% {
		left: -1000px;
	}
	90%{
		left: -100px;
	}
	100% {
		left: 0px;
	}
}
